<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>mensaje_admin</servlet-name>
        <servlet-class>servlets.mensaje_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subir_apuntes</servlet-name>
        <servlet-class>servlets.subir_apuntes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>puntuar_profesor</servlet-name>
        <servlet-class>servlets.puntuar_profesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mensaje_admin</servlet-name>
        <url-pattern>/mensaje_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subir_apuntes</servlet-name>
        <url-pattern>/subir_apuntes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>puntuar_profesor</servlet-name>
        <url-pattern>/puntuar_profesor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
